<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Hello, world!</title>
    {% load static %}
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Archivo"
        }

        body {
            background-color: #111;
        }

        .slidnik {
            height: 700px;
            width: 250px;
            background-color: #986dff;


            box-shadow: 0 0 8px inset #986dff;

        }

        .itemside {

            height: 60px;
            width: 200px;
            box-shadow: 0 0 8px inset #986dff;
            margin-left: 20px;
            padding-top: 20px;
            text-align: center;
            font-size: large;
            font-weight: bold;
            border-radius: 20px;

        }

        table {
            border-collapse: separate;
            border-spacing: 0;
        }

        tr {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            margin-bottom: 20px;
        }

        td {
            padding: 20px;
        }

        .parent {
            display: flex;
        }

        .child {
            float: right;
            width: 50%;
            height: 50px;

        }
    </style>
</head>

<body>





    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->

    <div class="parent">


        <div class="child" style="margin-top: 50px; margin-right: 200px; width: 14000px;">


            <div class="container" style="margin-top: 100px;">
                <section class="vh-100">
                    <div class="container-fluid h-custom">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-md-9 col-lg-6 col-xl-5">
                                <img src="{% static 'assets/image/logo.png'%}" class="img-fluid" alt="Sample image">
                            </div>

                            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                                <div>
                                    <h1 style=" color: #fff;">Register Here..!</h1>
                                </div>
                                <div style="height: 10px;"></div>
                                <form action="/registeruser" method="post">
                                    {% csrf_token %}

                                    <!-- Name input -->


                                    <div class="form-outline mb-4">
                                        <input  style="border-radius: 20px;border-color:#986dff;"
                                            type="text" id="username" name="username" class="form-control form-control-lg"
                                            placeholder="Enter your name" />

                                    </div>



                                    <!-- Email input -->


                                    <div class="form-outline mb-4">
                                        <input name="email" style="border-radius: 20px;border-color:#986dff;"
                                            type="email" id="email" name="email" class="form-control form-control-lg"
                                            placeholder="Enter a valid email address" />

                                    </div>


                                    <!-- Password input -->
                                    <div class="form-outline mb-3">
                                        <input  style="border-radius: 20px; border-color: #986dff;"
                                            type="password" id="password" name="password" class="form-control form-control-lg"
                                            placeholder="Enter password" />

                                    </div>
                                    <!-- Are of interest input -->


                                    <div class="form-outline mb-4">
                                        <input  style="border-radius: 20px;border-color:#986dff;"
                                            type="text" id="interest" name="interest" class="form-control form-control-lg"
                                            placeholder="Enter Area of Interest" />

                                    </div>
                                    <!--  Level -->


                                    <div class="form-outline mb-4">
                                        <input  style="border-radius: 20px;border-color:#986dff;"
                                            type="text" id="level" name="level" class="form-control form-control-lg"
                                            placeholder="Enter level" />

                                    </div>
                                    <!-- learning style input -->


                                    <div class="form-outline mb-4">
                                        <input  style="border-radius: 20px;border-color:#986dff;"
                                            type="text" id="learningstyle" name="learningstyle" class="form-control form-control-lg"
                                            placeholder="Enter a learninh style" />

                                    </div>


                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Checkbox -->


                                    </div>

                                    <div class="text-center text-lg-start mt-4 pt-2">
                                        <button type="submit" class="btn btn-primary btn-lg"
                                            style="padding-left: 2.5rem; padding-right: 2.5rem; border-radius: 20px; background-color: #986dff;">Login</button>
                                        <p class="small fw-bold mt-2 pt-1 mb-0" style="color: #fff;">Already have
                                            account <a href="{% url 'login1' %}" class="link-danger">Login</a> here</p>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
            </div>


        </div>
        <!-- Right -->


</body>

</html>